* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 22px;
    padding: 10px 30px;
}

.container {
    width: 80%;
    margin: auto;
    /*border: 1px solid black;*/
    
}

.container .input {
    width: 100%;
    text-align: center; 
}

.container .input input[type="text"] {
    width: 70%;
    padding: 10px;
}

.container .input #add {
    width: 30%;
    padding: 10px;
}

.container .list ul {
    list-style: none;
    background-color: #e4e4e4;
}

.container .list ul li {
    padding: 0 0 0 10px;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s;
}

.container .list ul li:hover {
    background-color: #d3d3d3;
}

.container .list ul li button {
    padding: 10px;
    text-align: right;
    background-color: red;
    color: rgb(230, 230, 230);
    font-weight: bold;
    border: none;
    transition: .2s;
}

.container .list ul li button:hover {
    background-color: rgb(165, 0, 0);
    color: white;
    cursor: pointer;
}